/* * * * *     Range Slider     * * * * */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 12.8px;
  cursor: pointer;
  background: #4CAF50;
  background: -webkit-linear-gradient(to left, #F44336, #4CAF50);
  background: linear-gradient(to left, #F44336, #4CAF50);
  border-radius: 25px;
  border: 0px solid #000101;
}
